*.csv
*.egg-info
__pycache__
.mypy_cache
.pytest_cache
ci_log.txt
running_log.log
.DS_Store
*.log
*.prof
baseline.prof
running_log*
*.log
*.png

wandb/
env/
output/

generated_artifacts/*
!generated_artifacts/README.md
